<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist SYSTEM
"file://localhost/System/Library/DTDs/PropertyList.dtd">
<plist version="0.9">
<dict>
   <key>CFBundleExecutable</key>
   <string>Relive Radio</string>
   <key>CFBundleName</key>
   <string>Relive Radio</string>
   <key>CFBundleIdentifier</key>
   <string>com.example.xojounitdesktop</string>
   <key>CFBundleInfoDictionaryVersion</key>
   <string>6.0</string>
   <key>CFBundleVersion</key>
   <string>3.0.0.0.15</string>
   <key>CFBundleDevelopmentRegion</key>
   <string>de</string>
   <key>CFBundlePackageType</key>
   <string>APPL</string>
   <key>CFBundleSignature</key>
   <string>4.2.7</string>
   <key>CFBundleGetInfoString</key>
   <string></string>
   <key>CFBundleShortVersionString</key>
   <string></string>
   <key>CFBundleIconFile</key>
   <string>Relive Radio.icns</string>
<key>LSMinimumSystemVersion</key>
<string>10.6.0</string>
   <key>CFBundleDocumentTypes</key>
   <array>
   </array>
</dict>
</plist>